* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --primary: #FB2E86;
    --mainFont: "Lato", sans-serif;
    --sucsses: #08D15F;
    --textHeader: #0D0E43;

}
.primary{
    color: var(--primary);
}

.btn {
    border: none;
    outline: none;
    color: white;
    padding: 16px 40px;
    border-radius: 2px;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-sucsess {
    background-color: var(--sucsses);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center ;
}

.contaner {
    width: calc(100% - 320px);
    margin: auto;

}

@media screen and (max-width:1400px) {
   .contaner {
    width: calc(100% - 200px);}
}
@media screen and (max-width:992px) {
   .contaner {
    width: calc(100% - 100px);}
}
@media screen and (max-width:576px) {
   .contaner {
    width: calc(100% - 40px);}
}
.d-flex{
    display: flex;
    align-items: start;
}

.flex-direction{
    flex-direction: column;
}
.text-center{
    text-align: center;
}