* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: var(--mainFont);

}

ul {
    list-style-type: none;
    font-family: var(--mainFont);

}

:root {
    --primary: #FB2E86;
    --mainFont: "Lato", sans-serif;
    --sucsses: #08D15F;
    --textHeader: #0D0E43;

}

.primary {
    color: var(--primary);
}

.btn {
    border: none;
    outline: none;
    color: white;
    padding: 16px 40px;
    border-radius: 2px;
    font-family: var(--mainFont);

}

.btn-primary {
    background-color: var(--primary);
}

.btn-sucsess {
    background-color: var(--sucsses);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contaner {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
    overflow-x: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (max-width: 992px) {
    .row {
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (max-width: 576px) {
    .row {
        flex-direction: column;
        gap: 10px;
    }
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


.flex-direction {
    display: flex;
    flex-direction: column;
}

.ceter-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}