body {
    font-family: var(--mainFont);
}

.header {
    padding: 57px 0px;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 36px;
}

.list a {
    color: var(--textHeader);
}

.header .active {
    color: var(--primary);
}

.bar {
    display: none;
}

.searh form {
    border: 1px solid #E7E6EF;
    border-radius: 4px;
}

.searh input {
    background-color: white;
    border: none;
    outline: none;
    padding: 0px 100px 0px 20px;
}

.searh button {
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px;
}

.text-whitee .signup {
    font-size: 26px;
}

.text-white {
    color: white;
}

@media screen and (max-width:1149px)  {
    .bar {
        display: block;
    }

    .header .list,
    .header .searh {
        display: none;
    }
}

/* clients */
.clients{
    padding: 50px 0px;
}
.clients .row{
    flex-wrap: nowrap;
    gap: 15px;
    overflow: auto;
}
.clients .logo{
    width: calc((100% - 75px) / 6);
}
.clients img{
width: 230px;
height: 100px;
}
@media screen and (max-width:900px) {
    .clients .logo{
    width: calc((100% - 45px) / 3);
}
}
@media screen and (max-width:565px) {
    .clients .logo{
    width: calc((100% - 30px) / 2);
}
}

 /* footer */
.footer {
    background-color: #EEEFFB;
    padding: 50px 0px;
}

.footer .row {
    gap: 30px;
    flex-wrap: wrap;
}

.footer .addres-info,
address {
    margin: 10px 0px;
}

.footer a,
.addres-info {
    color: #8A8FB9;
}

.footer .left-side {
    gap: 35px;
    width: calc((100% - 30px) / 2);
}

.footer .right-side {
    width: calc((100% - 30px) / 2);
 
}

.footer .right-side .row {
    gap: 35px;
    align-items: flex-start;
}

.footer .footer-item {
    width: calc((100% - 70px) / 3);
}

.gap1 {
    gap: 10px;
}

.gap2 {
    gap: 23px;
}

.gap3 {
    gap: 46px;
}

@media screen and (max-width: 992px) {
    .footer .left-side,
    .footer .right-side {
        width:100%;
            }

}

@media screen and (max-width: 576px) {

    
    .footer  {
 
        text-align: center;         
    }
   .d-flex  {
 
        align-items: center;         
    }
    .footer .left-side,
    .footer .right-side,
    .footer .footer-item {
        width: 100%;
        margin-bottom: 20px;
    }


   
}
